<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <div class="container mt-5">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Authentication Required</h4>
                            <p>You must be logged in to access this page.</p>
                            <hr>
                            <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-primary">Log in</a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
