@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="footer">
        <div class="container-fluid">
            <p class="mb-0">Copyright © @DateTime.Now.Year Luppes Consulting, Inc. All rights reserved.</p>
        </div>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
