@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TravelTracker</a>
        <AuthorizeView>
            <Authorized>
                <span class="text-white">Hello, @context.User.Identity?.Name!</span>
                <a class="btn btn-sm btn-outline-light ms-2" href="MicrosoftIdentity/Account/SignOut">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-sm btn-outline-light" href="MicrosoftIdentity/Account/SignIn">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="bi bi-geo-alt-fill" aria-hidden="true"></span> Locations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map">
                <span class="bi bi-map-fill" aria-hidden="true"></span> Map View
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistics">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Statistics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="bi bi-upload" aria-hidden="true"></span> Upload Data
            </NavLink>
        </div>
    </nav>
</div>

